@{
    string currentAction = (string) Url.RequestContext.RouteData.Values["Action"];
}
<div class="ui-helper-clearfix">
<ul class="menutab" style="margin-top:15px">
        <li><a href="@Url.Content("~/Mariachi/Administration/AllLyrics")" >
            <img src="http://media.altovientosolutions.com/dryicons/Handy%20Icons/24x24/house.png" />
            Lyrics</a>
        </li>
</ul>
</div>