<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <configSections>
    <section name="spaces" type="AltovientoSolutions.Security.Spaces.SpacesConfiguration, AltovientoSolutions.Security" />
  </configSections>
  <spaces connectionString="MongoSpacesConnStr" databaseName="unit_test_db" collectionName="Spaces_Unit_Test" applicationName="/" name="MongoDB Provider for Spaces" description="This is the implementation of Spaces for MongoDB" />
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!--  CONNECTION STRINGS FOR MONGOLAB.COM - Preferred due to larger free database.-->
    <!-- Connection for the three ASPNetPRoviders:  Roles, Membership, Profile.-->
    <add name="MongoProvidersDBConnStr" connectionString="mongodb://unit_test_user:nr12345678@dbh55.mongolab.com:27557/unit_test_db" />
    <!-- Connection for the other collections related with security, custom access control, referrals, etc.-->
    <add name="MongoAccountMgmtNonProviderConnStr" connectionString="mongodb://unit_test_user:nr12345678@dbh55.mongolab.com:27557/unit_test_db" />
    <!-- Connection for specific Applications -->
    <add name="MongoIPCViewerConnStr" connectionString="mongodb://unit_test_user:nr12345678@dbh55.mongolab.com:27557/unit_test_db" />
    <add name="MongoSpacesConnStr" connectionString="mongodb://unit_test_user:nr12345678@dbh55.mongolab.com:27557/unit_test_db" />
<add name="MongoUnitTestConnStr" connectionString="mongodb://unit_test_user:nr12345678@dbh55.mongolab.com:27557/unit_test_db" />
<add name="MongoMariacherosConnStr" connectionString="mongodb://unit_test_user:nr12345678@dbh55.mongolab.com:27557/unit_test_db" />
</connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>