<div><ul class="menutab">
        <li class="menutab"><a href="@Url.Content("~/IPC/Project")">
            <img src="http://media.altovientosolutions.com/dryicons/Handy%20Icons/24x24/briefcase.png" border="0" alt="" /> IPCViewer Project</a></li>
        <li class="menutab"><a href="@Url.Content("~/IPC/Project/GetStarted")">
        <img src="http://media.altovientosolutions.com/dryicons/Handy%20Icons/24x24/play.png" border="0" alt="" /> Get Started</a></li>
        <li class="menutab"><a href=""><img src="http://media.altovientosolutions.com/dryicons/Handy%20Icons/24x24/user.png" border="0" alt="" /> Who we are</a></li>
    </ul>
</div>