@using AltovientoSolutions.Common.Helpers
@{
    ViewBag.Title = WebUI4.Resources.Common.Tagline;
}

<h2>@ViewBag.WelcomeMessage</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>


<p>Holisticly scale long-term high-impact systems without backend mindshare. Distinctively syndicate cost effective strategic theme areas before cost effective niches. Enthusiastically reintermediate cross-media e-markets before distinctive scenarios. Uniquely mesh parallel collaboration and idea-sharing whereas fully researched supply chains. Interactively enhance enabled expertise rather than 2.0 interfaces.
</p><p>
Completely plagiarize premier deliverables vis-a-vis resource-leveling expertise. Energistically unleash 2.0 core competencies whereas excellent benefits. Phosfluorescently extend best-of-breed technologies before.</p>

<p>
@Html.ActionLink("Mariachi", "Index", "Website", new { area = "Mariachi" }, null)
</p>
<p>
@Html.ActionLink("Illustrated Parts Catalogs Viewer", "Index", "Project", new { area = "IPC" }, null)
</p>