@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>MongoDB Read Performance Test</title>
</head>
<body>
    <div>
        @{using (Html.BeginForm())
          {
            <p>Test 20 reads from a collection of 100,000 documents.</p>
            <input type="submit" value="Start Test"/>
          }
        }
    </div>


    @if (!String.IsNullOrWhiteSpace((string)ViewBag.Result))
    {
        <div>
        <h2>Results:</h2>
        <p>@ViewBag.Result</p>
        </div>
    }



</body>
</html>
