@{
    ViewBag.Title = "Index";
}

<h2>Publish your own Illustrated Parts Catalogs</h2>


<p>The publishing process consists of very simple steps:</p>
<ul>
<li>Author your content using your current authoring systems</li>
<li>Create a representation of your Illustrated Parts Catalogs using the generic IPC standard.</li>
<li>Upload to the IllustratedPartsCatalogs.org using your own API key and the catalog will be loaded in your own space.
    <ul>
        <li>Use the interfaces and systems provided to upload the IPCs</li>
        <li>Use the proper interfaces to upload the illustrations.</li>
    </ul>
</li>
<li>Test your IPCs online before they become available to your customers.</li>
<li>Mark the catalogs are 'Ready for Publishing' and they will be automatically indexed and will be available to your customers shortly afterwards.</li>
</ul>



@section Banner{
    @Html.Partial("_IPCViewerMenu")
}
@section Header{
<link href="@Url.Content("~/Areas/IPC/Content/css/style.css")" rel="stylesheet" type="text/css" />
}