<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MongoProvidersDBConnStr" connectionString="mongodb://providerUserDB:12345678@staff.mongohq.com:10048/ASPNetProviderDB"  />
  </connectionStrings>
  <system.web>

    <machineKey validationKey="FBC321065D6D1572F41CC62965885A8FFDFA8000F0716719EDADEA021A99446391B3A69E0951D9A36ECC43BD890C331FBFD128830C59954D1FBAEAAD9FCD4C07" decryptionKey="2DCAA2954BB3ABEA1ACBD52AD3C3A01FE39778AA020AD9CE9C95FE5C8F710EB5" validation="SHA1" decryption="AES" />

    <membership defaultProvider="MongoDBProvider" userIsOnlineTimeWindow="15">

      <providers>
        <clear />
        <add
          name="MongoDBProvider"
          type="ASPNetProvidersForMongoDB.MongoDBMembershipProvider, ASPNetProvidersForMongoDB"
          connectionStringName="MongoProvidersDBConnStr"
          enablePasswordRetrieval="true"
          enablePasswordReset="true"
          requiresQuestionAndAnswer="true"
          writeExceptionsToEventLog="true"
          mongoProviderDatabaseName ="ASPNetProviderDB"
          mongoProviderUsersCollectionName="Users-Unit-Test"
          applicationName="/"
          />

        <!-- mongoProviderDatabaseName: Name of the mongoDB database to keep all the data for the provider. -->
        <!-- mongoProviderUsersCollectionName: Name of the collection in the mongoDB database to keep the user data. -->

      </providers>
    </membership>


    <roleManager defaultProvider="MongoDBProvider" enabled="true">
      <providers>
        <clear />
        <add applicationName="/"
            name="MongoDBProvider"
             type="ASPNetProvidersForMongoDB.MongoDBRolesProvider, ASPNetProvidersForMongoDB"
            connectionStringName="MongoProvidersDBConnStr"
             writeExceptionsToEventLog="true"
          mongoProviderDatabaseName ="ASPNetProviderDB"
          mongoProviderUsersCollectionName="Roles-Unit-Test"
             />
      </providers>
    </roleManager>


    <profile defaultProvider="MongoDBProvider" inherits="AltovientoSolutions.Common.MVC.ProfileCommon">
      <providers>
        <add
          applicationName="/"
          name="MongoDBProvider"
          type="ASPNetProvidersForMongoDB.MongoDBProfileProvider, ASPNetProvidersForMongoDB"
          connectionStringName="MongoProvidersDBConnStr"
          writeExceptionsToEventLog="true"
          mongoProviderDatabaseName ="ASPNetProviderDB"
          mongoProviderUsersCollectionName="Profiles" />
      </providers>
    </profile>


  </system.web>
</configuration>