<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Use your own Mongo database for this.  I use MongoHQ or MongoLab.  Either one has a free plan. -->
    <add name="MongoProvidersDBConnStr" connectionString="mongodb://TestUnitDBUser:TestUnit@staff.mongohq.com:10083/ASPNetProviderDB-TestUnit"  />
  </connectionStrings>
  <system.web>
    <!-- Generate your own validation key.  You can use this: http://aspnetresources.com/tools/machineKey 
        This is required for the encryption of the information like password or answers in the database.  You want to protect
        your users by encrypting their personal information.
    -->
    <machineKey validationKey="6C3AF9FAC95D2BA096FE5049597B28E795DE26D0DBF732868A9F056E0586F54FC265BADF5204F28788124CA9DD3D5A705632FD49220672290459ED537DA04E99" decryptionKey="CD8F1E43C73FED767BD5CA56D94B35E083A7638415E6EA105D73932BBAB54BD4" validation="SHA1" decryption="AES" />

    <membership defaultProvider="MongoDBProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add
          name="MongoDBProvider"
          type="ASPNetProvidersForMongoDB.MongoDBMembershipProvider, ASPNetProvidersForMongoDB"
          connectionStringName="MongoProvidersDBConnStr"
          enablePasswordRetrieval="true"
          enablePasswordReset="true"
          requiresQuestionAndAnswer="true"
          writeExceptionsToEventLog="true"
          mongoProviderDatabaseName ="ASPNetProviderDB-TestUnit"
          mongoProviderCollectionName="Users"
          applicationName="/"
          />
        <!-- mongoProviderDatabaseName: Name of the mongoDB database to keep all the data for the provider. -->
        <!-- mongoProviderCollectionName: Name of the collection in the mongoDB database to keep the user data. -->
      </providers>
    </membership>


    <roleManager defaultProvider="MongoDBProvider" enabled="true">
      <providers>
        <clear />
        <add applicationName="/"
            name="MongoDBProvider"
             type="ASPNetProvidersForMongoDB.MongoDBRolesProvider, ASPNetProvidersForMongoDB"
            connectionStringName="MongoProvidersDBConnStr"
             writeExceptionsToEventLog="true"
          mongoProviderDatabaseName ="ASPNetProviderDB-TestUnit"
          mongoProviderCollectionName="Roles"
             />
        <!-- mongoProviderDatabaseName: Name of the mongoDB database to keep all the data for the provider. -->
        <!-- mongoProviderCollectionName: Name of the collection in the mongoDB database to keep the user data. -->
      </providers>
    </roleManager>


    <profile defaultProvider="MongoDBProvider" inherits="MyCompany.Security.Profile.ProfileCommon">
      <providers>
        <clear />
        <add
          applicationName="/"
          name="MongoDBProvider"
          type="ASPNetProvidersForMongoDB.MongoDBProfileProvider, ASPNetProvidersForMongoDB"
          connectionStringName="MongoProvidersDBConnStr"
          writeExceptionsToEventLog="true"
          mongoProviderDatabaseName ="ASPNetProviderDB-TestUnit"
          mongoProviderCollectionName="Profiles" />
        <!-- mongoProviderDatabaseName: Name of the mongoDB database to keep all the data for the provider. -->
        <!-- mongoProviderCollectionName: Name of the collection in the mongoDB database to keep the user data. -->
      </providers>
    </profile>

  </system.web>
</configuration>