        html, body
        {
            margin: 0;
            padding: 0;
            overflow: hidden; /* Remove scroll bars on browser window */
        }
        #header
        {
            padding: 1em;
            height: 30px;
        }
        
        #toc, #illustrationHolder, #partsList
        {
            font-size: 14px;
        }
        
        #CenterAndRight
        {
            background-color: #eee;
        }
        /* sets the style for the illustration management. */
        #illustrationHolder
        {
            border: 4px solid #eee;
            padding: 0 !important;
            margin: 0 auto;
            overflow: hidden;
        }
        
        
        #tocUL, #tocUL ul
        {
            margin: 0px 0px 0px 0px;
            display: block;
            list-style-type: none;
            list-style-position: inside;
            padding: 3px;
        }
        #tocUL li
        {
            margin: 0px;
            display: block;
            padding: 3px 3px 3px 15px;
        }
        #tocUL ul li:hover
        {
            background-color: #eee;
        }
        
        .RTL #tocUL li
        {
            direction: rtl;
        }
        
        
        #tocUL a, #tocUL a:visited, #tocUL a.link, #tocUL a:hover
        {
            color: #333;
            text-decoration: none;
        }
        
        #tocUL > li.chapter > a
        {
            font-weight: bold;
        }
        
        
        #tocUL li.selected
        {
            background-color: #eef;
        }
        
        #partsListTable
        {
            width: 100%;
        }
        #partsListTable tr td
        {
            padding: 4px;
        }
        #partsListTable tr:hover
        {
            background-color: #eee;
        }
        
        #partsListTable tr.selected
        {
            background-color: #eef;
        }
        
        #partsListTable tr.break
        {
            border-bottom: 1px solid #ccc;
            margin-bottom: 15px;
        }
        
        .RTL #partsListTable td.txt
        {
            direction: rtl;
        }
        /******* Sytles for toolbar **************/
        
        #toolbar
        {
            padding: 5px;
            height: 35px;
        }
        #toolbar .spacer
        {
            width: 50px;
        }
        
        
        /*****************************************/
        
        #MySplitter
        {
            /* Height is set to match window size in $().ready() below */
            border: 3px solid #669;
            min-width: 600px;
            min-height: 300px;
        }
        .SplitterPane
        {
            background: #fff;
            overflow: scroll;
        }
        .vsplitbar
        {
            width: 6px; /*background: #669 url(img/vgrabber.gif) no-repeat center;*/
            background: #669;
        }
        .vsplitbar.active, .vsplitbar:hover
        {
            background-color: #c66;
            width: 6px;
            opacity: 0.5;
            filter: alpha(opacity=50); /* IE */
        }
        
        /**********************************************/
        
        .menutab > *
        {
            margin: 0;
            padding: 0;
            font-family: Arial, Verdana;
            font-size: 14px;
            letter-spacing: 0.1em;
            font-weight: normal;
        }
        .menutab
        {
            margin: 0px;
            padding: 0px;
            list-style-type: none;
            color: #fff;
            line-height: 24px;
            display: inline-block;
            float: left;
            z-index: 1000;
        }
        .menutab a
        {
            color: #4c4c4c;
            display: block;
            width: 100%;
            text-align: center;
            line-height: 2em;
            cursor: pointer;
            text-decoration: none;
        }
        .menutab a img
        {
            vertical-align: middle;
        }
        .menutab > li
        {
            border-radius: 5px;
            float: left;
            padding: 3px 15px;
            text-align: center;
            background-color: transparent;
            margin-left: 3px;
            margin-right: 3px;
            background: #F3F3F3;
            background: -webkit-gradient(linear,left top,left bottom,from(whiteSmoke),to(#F1F1F1));
            background: -moz-linear-gradient(top,whiteSmoke,#F1F1F1);
            background: -o-linear-gradient(top,whiteSmoke,#F1F1F1);
            border: 1px solid #D9D9D9;
            vertical-align: middle;
            float: left;
        }
        .menutab > li.selected
        {
            background: -o-linear-gradient(top,#EEE,#E0E0E0);
            background: -webkit-gradient(linear,left top,left bottom,from(#EEE),to(#E0E0E0));
            background: -moz-linear-gradient(top,#EEE,#E0E0E0);
            background: -o-linear-gradient(top,#EEE,#E0E0E0);
            border-color: #BBB;
            box-shadow: inset 0 1px 5px #ccc;
            -moz-box-shadow: inset 0 1px 5px #ccc;
            -webkit-box-shadow: inset 0 1px 5px #ccc;
        }
        .menutab > li:hover
        {
            background-color: #FFF3C8;
            background: none;
            -moz-box-shadow: inset 0 0 2px #ccc;
            -webkit-box-shadow: inset 0 0 2px #ccc;
            box-shadow: inset 0 0 2px #ccc;
        }
        
        .menutab > li:hover a
        {
            color: #c50;
        }
