@model WebUI4.Models.VerificationModel
@using System.Configuration;

<body style="background-color: #002E55">
    <div style="padding: 0px; margin: 0px; background-color: #002E55; text-align: center;
        width: 100%; font-family: Trebuchet MS; font-size: 16px;">
        <div style="background-color: #fff; width: 600px; margin: 0px auto; text-align: left;
            border-radius: 6px; padding: 10px; font-family: ">
            <p>
                @WebUI4.Resources.MailTemplates.Hi, </p>
            <p>
                @String.Format(WebUI4.Resources.MailTemplates.Verification_PleaseConfirmEmail, ConfigurationManager.AppSettings["ApplicationName"])
                <br />
                @String.Format(WebUI4.Resources.MailTemplates.Verification_ClickHereToActivate, this.Model.Url)
            </p>
            <p>
                @WebUI4.Resources.MailTemplates.Common_IfYouNeedAssistanceContactUs </p>
        </div>
    </div>
</body>
