@{
    ViewBag.Title = "Website";
}

<h2>Load Data</h2>

<div>

<ul>
    <li><input type="radio" name="profileType" value="Mariachi Groups"/></li>
    <li><input type="radio" name="profileType" value="Mariachi Artists (Soloists)/></li>
    <li><input type="radio" name="profileType" value="Mariachi Fan (Anyone who loves Mariachi)"/></li>
</ul>
</div>


@section Header{
    <style type="text/css">
        
    </style>
}