@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<p>Who are you?</p>
<div>
<div class="ui-helper-clearfix">
    <div class="box">
        Mariachi Bands
    </div>
    <div class="box">
        Mariachi Artists
    </div>
    <div class="box">
        Fans
    </div>
</div>
</div>



@section Header{
<style type="text/css">
    .box
    {
        width:300px;
        height:300px;
        background-color:#fafafa;
        float:left;
        margin:5px;
    }
</style>
}