@model AltovientoSolutions.DAL.Mariacheros.Model.BandModel
@using System.Collections.Generic
@{
    ViewBag.Title = "Manage";
}
@section Banner{
    <h2 class="logo">
        Mariacheros</h2>
}
<h2>
    Manage your profile</h2>
<p>
    Provide as much information as you can to have a complete profile.</p>
<div class="ui-helper-clearfix">
    <ul id="tabs" class="menutab">
        <li><a href="#basicinfo">Basic Information</a></li>
        <li><a href="#prices">Prices</a></li>
        <li><a href="#photos">Photos</a></li>
        <li><a href="#videos">Videos</a></li>
        <li><a href="#music">Music</a></li>
        <li><a href="#members">Members</a></li>
        <li><a href="#friends">Friends</a></li>
    </ul>
</div>
@{ 
    
    using (Html.BeginForm())
    {
    <div>
        <div id="basicinfo" style="" class="section">
            <h3>
                Basic Information</h3>
            <div class="line">
                <label>
                    Name</label>
                <input name="Name"/>
            </div>
            @{
        int i = 0;
        foreach (var item in Model.Description)
        {
                <div class="line">
                    <input name="Description[@i].Key" value="@item.Key" />
                    <input name="Description[@i].Value" value="@item.Value" />
                </div> 
            i++;
        }
            }
            <div class="line">
                <input name="Description[@i].Key" value="" />
                <input name="Description[@i].Value" value="" />
            </div>
        </div>
        <div id="prices" style="display: none;" class="section">
            <h3>
                Prices</h3>
            <div>
                Name
                <input />
            </div>
        </div>
        <div id="photos" style="display: none;" class="section">
            <h3>
                Photos</h3>
            <div>
                Name
                <input />
            </div>
        </div>
        <div id="videos" style="display: none;" class="section">
            <h3>
                Videos</h3>
            <div>
                Name
                <input />
            </div>
        </div>
        <div id="music" style="display: none;" class="section">
            <h3>
                Music</h3>
            <div>
                Name
                <input />
            </div>
        </div>
        <div id="members" style="display: none;" class="section">
            <h3>
                Members</h3>
            <div>
                Name
                <input />
            </div>
        </div>
        <div id="friends" style="display: none;" class="section">
            <h3>
                Friends</h3>
            <div>
                Friends XX<br />
                Friends XX<br />
                Friends XX<br />
                Friends XX<br />
                Friends XX<br />
            </div>
        </div>
    </div>
    <div>
        <input type="submit" value="Save" />
    </div>
    
    }
}
@section Scripts{
    <script type="text/javascript">

        $('#tabs li a').click(function (e) {

            $('.section').css('display', 'none');
            var target = $(this).attr('href');
            if (console) console.log(target);
            $(target).css('display', '');
            e.preventDefault();
            return false;
        });
    
    
    </script>
}
@section Header{
    <style type="text/css">
        .section
        {
            margin: 0px auto;
            padding: 20px;
            width: 100%;
            min-height: 300px;
            background: #eee;
        }
        
        .menutab li a
        {
            display: block;
            min-width: 80px;
        }
    </style>
}
