@{
    ViewBag.Title = "Get Started";
}

<h2><img src="http://media.altovientosolutions.com/dryicons/Handy%20Icons/32x32/play.png" border="0" alt="" /> Get Started with the IPC Viewer Project</h2>

    <div class="ui-helper-clearfix">    <h3>Learn about standards</h3>
    <p>The first draft will be available soon.</p>
    <p></p>
    </div>

    <div class="ui-helper-clearfix">
<p>Currently we are developing a RFC for Illustrated Parts Catalogs for the heavy machinery industry.</p>
    <h3>Try our Open Source Tools</h3>
    <p>You can try our online Illustrated Parts Catalog Viewer.    Create your own playground, publish your own books, and learn about the basic functionality of an IPC viewer.</p>
    <p><a href="@Url.Content("~/IPC/Viewer")" ><img src="@Url.Content("~/Areas/IPC/Content/images/IPCViewer.png")"  /><br />
    Try our IPC Viewer</a>
    </p>
</div>



@section Banner{
    @Html.Partial("_IPCViewerMenu")
}
@section Header{
<link href="@Url.Content("~/Areas/IPC/Content/css/style.css")" rel="stylesheet" type="text/css" />
}