@{
    ViewBag.Title = "Index";
}

<h2><img src="http://media.altovientosolutions.com/dryicons/Handy%20Icons/32x32/briefcase.png" border="0" alt="" /> Illustrated Parts Catalog Viewer (IPCViewer) Project</h2>

<p>The IPCViewer is a project sponsored and funded by Unodox Corp to address the specific issues for OEM's in which Illustrated Parts Catalogs lack industry standards and standard tools.</p>
<h3>Driving principles:</h3>
<div class="box ui-helper-clearfix">
<dl>
<dt>Maintainability:</dt>
<dd>OEMs and companies should be able to <b>easily produce</b> and <b>maintain</b> Illustrated Parts Catalogs</dd>
<dt>Vendor Independence:</dt>
<dd>An <b>open</b> and <b>extensible standard</b> is needed to use in the publication of IPCs.  The data should not be captive in a vendor's proprietary format.</dd>

</dl>

<dl>
<dt>Ease of Use:</dt>
<dd>OEM's internal and external customers should find the IPC Viewers very easy to use and to learn without training.</dd>
<dt>Performance and reliability Driven:</dt>
<dd>The systems and tools should provide very fast performance and be very reliable.</dd>
<dt>Searchability:</dt>
<dd>The right content of the IPC's should be available to users with only a few actions without long process to access the data.</dd>

</dl>

</div>

<p><a href="@Url.Content("~/IPC/Project/GetStarted")">Get Started</a></p>

@section Banner{
    @Html.Partial("_IPCViewerMenu")
}
@section Header{
<link href="@Url.Content("~/Areas/IPC/Content/css/style.css")" rel="stylesheet" type="text/css" />
}