<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>

  <configSections>
    <section name="spaces" type="AltovientoSolutions.Security.Spaces.SpacesConfiguration, AltovientoSolutions.Security" />
  </configSections>


  <spaces
    connectionString="MongoSpacesConnStr"
    databaseName="spacesdb"
    collectionName="Spaces"
    applicationName="/"
    name="MongoDB Provider for Spaces"
    description="This is the implementation of Spaces for MongoDB" 
    urlDomain="mysite.com"/>


  <connectionStrings>

    <!--  CONNECTION STRINGS FOR MONGOHQ.COM -->
    <!-- Connection for the three ASPNetPRoviders:  Roles, Membership, Profile.-->
    <!--<add name="MongoProvidersDBConnStr" connectionString="mongodb://providerUserDB:12345678@staff.mongohq.com:10048/ASPNetProviderDB"  />-->
    <!-- Connection for the other collections related with security, custom access control, referrals, etc.-->
    <!--<add name="MongoAccountMgmtNonProviderConnStr" connectionString="mongodb://providerUserDB:12345678@staff.mongohq.com:10048/ASPNetProviderDB"  />-->

    <!--  CONNECTION STRINGS FOR MONGOLAB.COM - Preferred due to larger free database.-->

    <!-- Connection for the three ASPNetPRoviders:  Roles, Membership, Profile.-->
    <add name="MongoProvidersDBConnStr" connectionString="mongodb://providerUserDB:12345678@dbh43.mongolab.com:27437/aspnetproviderdb"  />
    <!-- Connection for the other collections related with security, custom access control, referrals, etc.-->
    <add name="MongoAccountMgmtNonProviderConnStr" connectionString="mongodb://providerUserDB:12345678@dbh43.mongolab.com:27437/aspnetproviderdb"  />
    <!-- Connection for specific Applications -->
    <add name="MongoIPCViewerConnStr" connectionString="mongodb://ipcvieweruser_x6553:xyz12345678@dbh44.mongolab.com:27447/illustrated_parts_catalogs"  />

    <add name="MongoMariacherosConnStr" connectionString="mongodb://mariacheros_user:M12345678@dbh29.mongolab.com:27297/mariacheros"/>


    <add name="MongoSpacesConnStr" connectionString="mongodb://spacesdb_user:Spaces12345678@dbh42.mongolab.com:27427/spacesdb"/>

  </connectionStrings>

  <appSettings>
    <!--  Application Settings - BEGIN  -->
    <add key="ApplicationName" value="My Super Duper Application"/>
    <add key="GoogleAnalyticsKey" value="UA-XXXXXXX-XX"/>
    <add key="CompanyName" value="Company Name"/>
    <add key="CDN-Url" value="http://scripts.altovientosolutions.com"/>
    <add key="StartUrl" value="~/Mariachi/"/>

    <!--  Application Settings - END  -->
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>

  <system.web>

    <sessionState mode="InProc" />



    <!--If enableClientBasedCulture is true, ASP.NET can set the UI culture and culture for a Web page automatically, based on the values that are sent by a browser.-->
    <globalization enableClientBasedCulture="true" culture="auto:en-US" uiCulture="auto:en"/>


    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogIn" timeout="2880" />
    </authentication>
    <machineKey validationKey="FBC321065D6D1572F41CC62965885A8FFDFA8000F0716719EDADEA021A99446391B3A69E0951D9A36ECC43BD890C331FBFD128830C59954D1FBAEAAD9FCD4C07" decryptionKey="2DCAA2954BB3ABEA1ACBD52AD3C3A01FE39778AA020AD9CE9C95FE5C8F710EB5" validation="SHA1" decryption="AES" />

    <membership defaultProvider="MongoDBProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add
          name="MongoDBProvider"
          type="ASPNetProvidersForMongoDB.MongoDBMembershipProvider, ASPNetProvidersForMongoDB"
          connectionStringName="MongoProvidersDBConnStr"
          enablePasswordRetrieval="true"
          enablePasswordReset="true"
          requiresQuestionAndAnswer="false"
          writeExceptionsToEventLog="true"
          mongoProviderDatabaseName ="aspnetproviderdb"
          mongoProviderUsersCollectionName="Users"
          applicationName="WebUI4"
          />

        <!-- mongoProviderDatabaseName: Name of the mongoDB database to keep all the data for the provider. -->
        <!-- mongoProviderUsersCollectionName: Name of the collection in the mongoDB database to keep the user data. -->

      </providers>
    </membership>

    <roleManager defaultProvider="MongoDBProvider" enabled="true">
      <providers>
        <clear />
        <add applicationName="WebUI4"
            name="MongoDBProvider"
             type="ASPNetProvidersForMongoDB.MongoDBRolesProvider, ASPNetProvidersForMongoDB"
            connectionStringName="MongoProvidersDBConnStr"
             writeExceptionsToEventLog="true"
          mongoProviderDatabaseName ="aspnetproviderdb"
          mongoProviderUsersCollectionName="Roles"
             />
      </providers>
    </roleManager>

    <profile defaultProvider="MongoDBProvider" inherits="AltovientoSolutions.Security.ProfileCommon">
      <providers>
        <add
          applicationName="WebUI4"
          name="MongoDBProvider"
          type="ASPNetProvidersForMongoDB.MongoDBProfileProvider, ASPNetProvidersForMongoDB"
          connectionStringName="MongoProvidersDBConnStr"
          writeExceptionsToEventLog="true"
          mongoProviderDatabaseName ="aspnetproviderdb"
          mongoProviderUsersCollectionName="Profiles" />
      </providers>
    </profile>

    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="404" redirect="404.html" />
    </customErrors>


    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>


    <healthMonitoring enabled="true" heartbeatInterval="0">
      <!-- Configure the providers -->
      <bufferModes>
        <add name="Extra Critical Notification"
          maxBufferSize="10" maxFlushSize="5"
          urgentFlushThreshold="1" regularFlushInterval="00:10:00"
          urgentFlushInterval="00:01:00" maxBufferThreads="1" />
        <add name="Normal Notification"
          maxBufferSize="50" maxFlushSize="15"
          urgentFlushThreshold="1" regularFlushInterval="01:00:00"
          urgentFlushInterval="00:10:00" maxBufferThreads="1" />
        <add name="Low Priority Notification"
          maxBufferSize="100" maxFlushSize="40"
          urgentFlushThreshold="1" regularFlushInterval="12:00:00"
          urgentFlushInterval="00:10:00" maxBufferThreads="1" />
      </bufferModes>


      <providers>
        <add name="SimpleMailWebEventProvider" type="System.Web.Management.SimpleMailWebEventProvider,System.Web,Version=4.0.0.0,Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a"
            from="notifications@illustratedpartscatalogs.org"
             to="agarcian@ieee.org"
            bodyHeader="Warning!"
            bodyFooter="Please investigate ASAP."
            subjectPrefix="Action required."
            buffer="true"
            maxEventLength="4096"
            maxMessagesPerNotification="1"
             bufferMode="Normal Notification"
             />
        <!--<add name="TemplatedMailWebEventProvider" type="System.Web.Management.TemplatedMailWebEventProvider,System.Web,Version=2.0.0.0,Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a"/>-->
        <!--<add name="SqlWebEventProvider" type="System.Web.Management.SqlWebEventProvide,System.Web,Version=2.0.0.0,Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a"/>-->
        <!--<add name="EventLogWebEventProvider" type="System.Web.Management.EventLogWebEventProvider,System.Web,Version=2.0.0.0,Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a"/>-->
        <add name="TraceWebEventProvider" type="System.Web.Management.TraceWebEventProvider, System.Web,Version=4.0.0.0,Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a"/>
        <!--<add name="WmiWebEventProvider" type="System.Web.Management.WmiWebEventProvider,System.Web,Version=2.0.0.0,Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a"/>-->
      </providers>

      <profiles>
        <add name="Default" minInstances="1" maxLimit="Infinite" minInterval="00:01:00"
             custom="" />
        <add name="Critical" minInstances="1" maxLimit="Infinite" minInterval="00:00:00"
             custom="" />
        <add name="AccountManagement" minInstances="1" maxLimit="Infinite" minInterval="00:00:00"
             custom="" />
      </profiles>

      <!--  Configure the events -->
      <eventMappings>
        <add name="PasswordResetEvent" type="AltovientoSolutions.Common.Instrumentation.PasswordResetEvent,AltovientoSolutions.Common"/>
        <add name="InvitationEmailSentEvent" type="AltovientoSolutions.Common.Instrumentation.InvitationEmailSentEvent,AltovientoSolutions.Common"/>
        <add name="PasswordChangedEvent" type="AltovientoSolutions.Common.Instrumentation.PasswordChangedEvent,AltovientoSolutions.Common"/>
        <add name="SpacesProviderErrorEvent" type="AltovientoSolutions.Security.Instrumentation.SpacesProviderErrorEvent,AltovientoSolutions.Security"/>
      </eventMappings>

      <!-- Define the rules -->
      <rules>
        <add name="Password Reset Event"
          eventName="PasswordResetEvent"
          provider="TraceWebEventProvider"
          profile="AccountManagement"
          minInterval="00:00:00" />

        <add name="Password Change Event"
          eventName="PasswordChangedEvent"
          provider="TraceWebEventProvider"
          profile="AccountManagement"
          minInterval="00:00:00" />

        <add name="Standard Web Requests"
          eventName="All Events"
          provider="TraceWebEventProvider"
          profile="Default"
          minInterval="00:01:00" />

        <add name="Spaces Management"
         eventName="All Errors"
         provider="SimpleMailWebEventProvider"
         profile="Critical"
         minInterval="00:01:00" />

      </rules>

    </healthMonitoring>

    



  </system.web>
  <system.webServer>
    <!-- 
				GZip static file content.  Overrides the server default which only compresses static files over 2700 bytes
			-->
    <httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>

    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
    <urlCompression doStaticCompression="true" />

    <staticContent>
      <!-- Set expire headers to 30 days for static content-->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00"/>
      <!-- use utf-8 encoding for anything served text/plain or text/html -->
      <remove fileExtension=".css" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="text/javascript" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".rss" />
      <mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8" />
      <remove fileExtension=".html" />
      <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
      <remove fileExtension=".xml" />
      <mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8" />
      <!-- HTML5 Audio/Video mime types-->
      <remove fileExtension=".mp3" />
      <mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <remove fileExtension=".ogg" />
      <mimeMap fileExtension=".ogg" mimeType="audio/ogg" />
      <remove fileExtension=".ogv" />
      <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
      <remove fileExtension=".webm" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />
      <!-- Proper svg serving. Required for svg webfonts on iPad -->
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".svgz" />
      <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
      <!-- HTML4 Web font mime types -->
      <!-- Remove default IIS mime type for .eot which is application/octet-stream -->
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".crx" />
      <mimeMap fileExtension=".crx" mimeType="application/x-chrome-extension" />
      <remove fileExtension=".xpi" />
      <mimeMap fileExtension=".xpi" mimeType="application/x-xpinstall" />
      <remove fileExtension=".safariextz" />
      <mimeMap fileExtension=".safariextz" mimeType="application/octet-stream" />
      <!-- Flash Video mime types-->
      <remove fileExtension=".flv" />
      <mimeMap fileExtension=".flv" mimeType="video/x-flv" />
      <remove fileExtension=".f4v" />
      <mimeMap fileExtension=".f4v" mimeType="video/mp4" />
    </staticContent>

    <httpProtocol>
      <customHeaders>
        <!-- 
					http://hacks.mozilla.org/2009/07/cross-site-xmlhttprequest-with-cors/
					Uncomment to serve cross-domain ajax requests
				
					<add name="Access-Control-Allow-Origin" value="*" />
				-->

        <!-- 
					Force the latest IE version, in various cases when it may fall back to IE7 mode
					 github.com/rails/rails/commit/123eb25#commitcomment-118920
					Use ChromeFrame if it's installed for a better experience for the poor IE folk 
				-->
        <add name="X-UA-Compatible" value="IE=Edge,chrome=1" />

        <!-- 
					Allow cookies to be set from iframes (for IE only)
					If needed, uncomment and specify a path or regex in the Location directive 

					<add name="P3P" value="policyref=&quot;/w3c/p3p.xml&quot;, CP=&quot;IDC DSP COR ADM DEVi TAIi PSA PSD IVAi IVDi CONi HIS OUR IND CNT&quot;" />
				-->
      </customHeaders>
    </httpProtocol>
    <!-- 
					Remove the WWW from the URL.  
					Requires IIS Rewrite module http://learn.iis.net/page.aspx/460/using-the-url-rewrite-module/ 
					Configuration lifted from http://nayyeri.net/remove-www-prefix-from-urls-with-url-rewrite-module-for-iis-7-0
					
					** Important Note 
					using a non-www version of a webpage will set cookies for the whole domain making cookieless domains 
				   (eg. fast cdn-like access of static resources like css, js and images) impossible.
					 
					 <rewrite>
						<rules>
						  <rule name="Remove WWW" stopProcessing="true">
							<match url="^(.*)$" />
							<conditions>
							  <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
							</conditions>
							<action type="Redirect" url="http://nayyeri.net{PATH_INFO}" redirectType="Permanent" />
						  </rule>
						</rules>
					 </rewrite>
				-->
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>


  

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="notifications@illustratedpartscatalogs.org">
        <network defaultCredentials="false" host="smtp.gmail.com" port="587" userName="notifications@illustratedpartscatalogs.org" password="nr12345678"/>
      </smtp>
    </mailSettings>
  </system.net>

</configuration>
